services:
  jobmanager:
    image: flink:1.20.1-scala_2.12-java17
    container_name: jobmanager
    ports:
      - "8081:8081"
    command: >
      standalone-job --jars /opt/flink/usrlib/flink-example-1.0-SNAPSHOT.jar
    env_file:
     - ./.env
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    volumes:
      - ./flink-example/target:/opt/flink/usrlib/
      - ./data:/opt/flink/data/
    networks:
      - public

  taskmanager:
    image: flink:1.20.1-scala_2.12-java17
    depends_on:
      - jobmanager
    command: taskmanager
    scale: 2
    env_file:
     - ./.env
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    volumes:
      - ./data:/opt/flink/data/
    networks:
      - public

networks:
  public:
    driver: bridge
